.typewritter__wrapper {
    font-size: 1.5rem;
    line-height: 1.2;
    cursor: default;
}

.typewritter__cursor {
    font-size: 1.5rem;
    line-height: 1.2;
    animation: Blinking 1s infinite;
    cursor: default;
}

@keyframes Blinking {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}